/*  FOOTER  */

@import "mixins";

footer{
    background-color: black;
    position: relative;
    width: 100%;
    .contenedor 
    {
        @include contenedor (flex , space-around);
    }
    h3
    {
    text-decoration:underline;
    font-family:serif;
    }
    .cliente
    {
        color: white;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 20px;
    }
    .horario
    {
        color: white;
        flex-direction: column;
        align-items: end;
        margin-top: 20px;
    }
}
