/*cambiar la tipografia del sitio web*/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@100&family=Playfair+Display:ital,wght@1,600&display=swap');

*{
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: white;
}