
@import "generales";
@import "header";
@import "main-index";
@import "main-productos";
@import "footer";
@import "contacto";


/* MODELOS ADAPTADOS VISTA MOBILE */

@media (max-width: 576px)
{
    .imagen-uno{
        display: none;
    }
    header{
        
        width: 100%;
        height: auto;
    }
/* Imagen del logo */
    .logotipo{
        display: flex;
        justify-content: center;
        }
/* Barra de busqueda*/
    .form-control{
        width: 450px;
    }
/* Index */
    .card-articulo{
        margin-left: 45px;
    }
/* Footer */  
    .contenedor{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
/* pagina contacto */
    .info-dos h4{
        font-size: 30px;
    }
    section div h6{
        font-size: 15px;
    }
    main .cuadro{
        height: 470px;
        width: 520px;
    }
}
